<h1></h1>

In [45]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

**1.1 Importing CSV file to data frame**

In [46]:
df = pd.read_csv("/home/faraz/Documents/Verzeo May ML 1/Data/Social_Network_Ads.csv")

In [47]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [48]:
x = df[["Gender","Age","EstimatedSalary"]].values
y = df["Purchased"].values

In [49]:
x

array([['Male', 19, 19000],
       ['Male', 35, 20000],
       ['Female', 26, 43000],
       ...,
       ['Female', 50, 20000],
       ['Male', 36, 33000],
       ['Female', 49, 36000]], dtype=object)

In [50]:
from sklearn.preprocessing import LabelEncoder       # For converting text to data ex GENDER

In [51]:
le=LabelEncoder()

In [52]:
x[:,0] = le.fit_transform(x[:,0])

In [53]:
x

array([[1, 19, 19000],
       [1, 35, 20000],
       [0, 26, 43000],
       ...,
       [0, 50, 20000],
       [1, 36, 33000],
       [0, 49, 36000]], dtype=object)

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
train_x , test_x , train_y ,test_y = train_test_split(x,y,test_size=0.2,random_state = 0)

In [56]:
# from sklearn.preprocessing import StandardScaler

In [57]:
# sc = StandardScaler()

In [58]:
# train_x = sc.fit_transform(train_x)       #  Transforming our data
# test_x = sc.fit_transform(test_x)

In [59]:
# test_x

In [60]:
from sklearn.neighbors import KNeighborsClassifier

In [61]:
clf = KNeighborsClassifier(n_neighbors=3,metric="euclidean")

In [62]:
clf.fit(x,y)

KNeighborsClassifier(metric='euclidean', n_neighbors=3)

In [63]:
pred_y = clf.predict(test_x)

In [64]:
# pred_y - test_y

In [65]:
from sklearn.metrics import accuracy_score

In [66]:
accuracy_score(test_y,pred_y)

0.9125