<h2 style="color:green" align="center"> Machine Learning With Python: Linear Regression Multiple Variables</h2>

![](images/5.png)

![](images/6.png)

![](images/7.png)

In [1]:
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt
import numpy as np
import math

In [2]:
df = pd.read_csv('/home/faraz/Documents/Python Projects/Machine Learning/2_linear_reg_multivariate/homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

## **Data Preprocessing: Fill NA values with median value of a column**

In [3]:
df.bedrooms.median()

4.0

In [4]:
df.bedrooms.fillna(df.bedrooms.median() ,inplace=True)     #   Filling missing datas with median

In [5]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
reg = linear_model.LinearRegression()        #  Creating regression object

## Here our training value is area , bedroom and age      and      Target value to predict is price

In [11]:
reg.fit(df[["area","bedrooms","age"]],df.price)            #   It is used for training model

LinearRegression()

In [8]:
reg.coef_                #  Coefficients

array([ 5.40476046e-18, -4.27262720e-15,  1.00000000e+00])

In [9]:
reg.intercept_

-7.105427357601002e-15

In [12]:
reg.predict([[2600,3,20]])

array([518217.63297611])