In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/predator/All Programs/Jupyter-Notebook/2. Machine Learning/Data/titanic.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Data Preprocessing

In [4]:
# dropping useless Features

df.drop(["PassengerId","Name" , "SibSp", "Parch","Ticket", "Fare","Cabin","Embarked"],axis="columns" , inplace=True)

In [5]:
# Checking missing values 
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
dtype: int64

In [6]:
df.dropna(inplace=True)           # Dropping NAN values

In [7]:
df.head()

   Survived  Pclass     Sex   Age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

# Converting text to numbers

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
gender = LabelEncoder()
df["gender"] = gender.fit_transform(df["Sex"])

df.drop(["Sex"] , axis="columns", inplace=True )

In [10]:
y = df.Survived    # Output

x = df.drop(["Survived"], axis="columns") # Input

In [11]:
from sklearn.model_selection import train_test_split
 
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state=1)

# Training model

In [12]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier() 
model.fit(x_train , y_train)       # Training model

DecisionTreeClassifier()

In [13]:
# Checking Accuracy score
model.score(x_test , y_test)

0.8461538461538461