In [1]:
from sklearn import datasets
iris = datasets.load_iris()

dir(iris)  # Checking the columns in iris datasets

['DESCR',
 'data',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [2]:
import pandas as pd 
df = pd.DataFrame(iris.data , columns= iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [3]:
df["flower"] = iris.target  # Adding columns to DataFrame
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [4]:
for i in range(3):
    print(f" {i } : {iris.target_names[i]}")

 0 : setosa
 1 : versicolor
 2 : virginica

In [5]:
# As target is given in number so i change to names :::: Just for viewing
df["flower"] = df["flower"].apply(lambda x : iris.target_names[x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [6]:
# Using K-Fold validation we can easily see the accuracy of model 
from sklearn.model_selection import cross_val_score

from sklearn import svm
model = svm.SVC(kernel='rbf' , C = 30 , gamma='auto')
model.fit()

In [25]:
# using loop to check the accuracy score of model according to kernel and c score




# import numpy as np

# kernels = ['rbf' , 'linear']
# c = [1,10,20]
# score = {}

# for i in kernels:
#     for j in c:
#         cv_score = cross_val_score(svm.SVC(kernel=i  , C=c  , gamma='auto') , iris.data , iris.target , cv=5)
#         score[i + '_' + str(j)] = np.average(cv_score)

        

#     score

In [8]:
# The above code is not working properly but below is the sample given how code works
cross_val_score(svm.SVC(kernel= 'rbf'  , C= 10  , gamma='auto') , iris.data , iris.target , cv=5)

array([0.96666667, 1.        , 0.96666667, 0.96666667, 1.        ])

# Grid Search CV

The above code can be shrinked using grid search cv and find the K-Fold cross validation score

In [24]:
from sklearn.model_selection import GridSearchCV

# First parameter -> Model
# Second Param -> Parameter Grid
clf = GridSearchCV(svm.SVC(gamma='auto') , {
    'C': [1,10,20],
    'kernel' : ['rbf' , 'linear']} , cv = 5 , return_train_score=False)

clf.fit(iris.data , iris.target)
# clf.cv_results_

GridSearchCV(cv=5, estimator=SVC(gamma='auto'),
             param_grid={'C': [1, 10, 20], 'kernel': ['rbf', 'linear']})

In [14]:
# Now we can create df using above results

df = pd.DataFrame(clf.cv_results_)
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000590,0.000073,0.000275,0.000024,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.000437,0.000022,0.000245,0.000017,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.000530,0.000063,0.000256,0.000009,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
3,0.000561,0.000086,0.000326,0.000058,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.966667,1.0,0.973333,0.038873,4
4,0.000473,0.000032,0.000250,0.000031,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.0,0.900000,0.966667,1.0,0.966667,0.036515,5
5,0.000391,0.000021,0.000209,0.000002,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.933333,1.0,0.966667,0.042164,6

In [18]:
df = df[['param_C' , 'param_kernel' , 'mean_test_score'] ]
df

  param_C param_kernel  mean_test_score
0       1          rbf         0.980000
1       1       linear         0.980000
2      10          rbf         0.980000
3      10       linear         0.973333
4      20          rbf         0.966667
5      20       linear         0.966667

In [19]:
clf.best_score_

0.9800000000000001

In [20]:
clf.best_params_

{'C': 1, 'kernel': 'rbf'}

### Here we can find the best parameters for our model
**Use RandomizedSearchCV to reduce number of iterations and with random combination of parameters. This is useful when you have too many parameters to try and your training time is longer. It helps reduce the cost of computation**

In [21]:
from sklearn.model_selection import RandomizedSearchCV
rs = RandomizedSearchCV(svm.SVC(gamma='auto'), {
        'C': [1,10,20],
        'kernel': ['rbf','linear']
    }, 
    cv=5, 
    return_train_score=False, 
    n_iter=2
)
rs.fit(iris.data, iris.target)
pd.DataFrame(rs.cv_results_)[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0      20          rbf         0.966667
1      10       linear         0.973333

# Using HyperParameter Turing

In [22]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20],
            'kernel': ['rbf','linear']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    }
}

In [23]:
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(iris.data, iris.target)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

                 model  best_score                best_params
0                  svm    0.980000  {'C': 1, 'kernel': 'rbf'}
1        random_forest    0.960000        {'n_estimators': 1}
2  logistic_regression    0.966667                   {'C': 5}