In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/home/predator/Documents/homeprices.csv")
df.head(5)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

## **Data Preprocessing: Fill NA values with median value of a column**

In [3]:
df.bedrooms.fillna(df.bedrooms.median() ,inplace=True)     #   Filling missing datas with median
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [4]:
reg = LinearRegression()        #  Creating model

## Here our training value is area , bedroom and age      and      Target value to predict is price

In [5]:
reg.fit(df[["area","bedrooms","age"]],df.price)            #   Training model

LinearRegression()

In [6]:
reg.coef_                #  Coefficients of best fit line

array([  112.06244194, 23388.88007794, -3231.71790863])

In [7]:
reg.intercept_

221323.00186540408

In [8]:
# reg.predict([[2600,3,20]])

In [9]:
print(f"Equation of Best Fit Line --> \n price = [ {reg.coef_[0]} * area] + [ {reg.coef_[1]} * bedrooms ] + [ {reg.coef_[2]} * age] + {reg.intercept_}")

Equation of Best Fit Line -->
 price = [ 112.06244194213458 * area] + [ 23388.88007793922 * bedrooms ] + [ -3231.7179086329634 * age] + 221323.00186540408